<div class="unmedio-centrado">
    <section>
        <h3>Login Form</h3>
        <form id="loginForm" method="post" action="login">
            <input type="email" name="username" id="username" required placeholder="Username">
            <input type="password" name="password" id="password" required placeholder="Password">
            
            <button id="btnLogin">LOGIN</button>
            <a href="signup">REGISTER</a>
            <div class="clear"></div>

            <div id="msgError">
                <div class="alert alert-error">
                    Wrong Credentials
                </div>
            </div>

        </form>
    </section>
</div>

<div class="clear"></div>