<div class="unmedio-centrado">
    <section>
        <h3>SignUp Form</h3>
        <form id="signupForm" method="post" action="signup">
            <input type="email" name="username" id="username" required placeholder="Username/Email">
            <input type="password" name="password" id="password" required placeholder="Password">
            
            <input type="text" name="fullname" id="fullname" required placeholder="Full Name">
            <input type="text" name="address" id="address" required placeholder="Address">
            <input type="number" name="age" id="age" required placeholder="Age">
            <input type="tel" name="phone" id="phone" required placeholder="Phone">
            <input type="text" name="avatar" id="avatar" required placeholder="URL Avatar">
            
            <button id="btnLogin">SIGNUP</button>
            <a href="login">LOGIN</a>
            <div class="clear"></div>

            <div id="msgError">
                <div class="alert alert-error">
                    User Already Exists
                </div>
            </div>

        </form>
    </section>
</div>

<div class="clear"></div>