extends layout

block contenido

    section
        if products.length > 0
            table
                tbody
                    tr
                        th Thumb
                        th Title
                        th Price
                    each prod in products
                        tr
                            td
                                img(width='64', src=prod.thumbnail, alt=prod.title)
                            td #{prod.title}
                            td #{prod.price}
        else
            .msg.warning No hay productos!
