<div class="unmedio-centrado">
    <section>
        <h3>SignUp Form</h3>
        <form id="signupForm" method="post" action="signup">
            <input type="email" name="username" id="username" required placeholder="Username">
            <input type="password" name="password" id="password" required placeholder="Password">
            
            <button id="btnLogin">SIGNUP</button>
            <a href="login">LOGIN</a>
            <div class="clear"></div>

            <div id="msgError">
                <div class="alert alert-error">
                    User Already Exists
                </div>
            </div>

        </form>
    </section>
</div>

<div class="clear"></div>