<section>
    <h1>Challenge #5</h1>
    <img src="/img/ejs-logo.jpg" title="EJS Engine" alt="EJS Engine">
    <h2><span>Adrián Velázquez</span></h2>
    <form action="/products" method="POST">
        <label>Title</label>
        <input type="text" name="title" id="title" required>
        <label>Price</label>
        <input type="text" name="price" id="price" required>
        <label>URL Thumbnail</label>
        <input type="text" name="thumbnail" id="thumbnail" required>
        <input type="submit" value="ADD PRODUCT">

        <% if (msg) { %>
            <div class="msg success">Producto agregado!</div>
            <% } %>

    </form>
</section>